.hidden {
    display: none;
}

body {
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#quote span {
    color: white;
}

#weather {
    color: white;
}

#clock {
    color: white;
}

h1 {
    color: white;
}

span {
    color: white;
}
